<!DOCTYPE html>
<html ng-app="LEVL">
  <head>
	  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="INVENTARIO PCN">
      <meta name="author" content="PCN">
      <meta name="keyword" content="INVENTARIO PCN">

      <title>PCN INVENTARIO</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

	  <script src="assets/js/angular.js"></script>
	  <script src="assets/js/angular-route.js"></script>
	  <script src="assets/js/restangular.js"></script>
	  <script src="assets/js/underscoreString.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/2.6.0/math.js"></script>
	  <script src="assets/js/underscore.js"></script>



      <script src="assets/js/ng-file-upload/ng-file-upload-shim.js"></script>
      <script src="assets/js/ng-file-upload/ng-file-upload.js"></script>

      <script src="assets/js/pdf-make/pdfmake.js"></script>
      <script src="assets/js/pdf-make/vfs_fonts.js"></script>


  </head>

  <body ng-controller="retrieve0">

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->

	  <div id="login-page" >
	  	<div class="container">
	  	
		      <form class="form-login" method= 'post' ng-submit="loginForm()">
		        <h2 class="form-login-heading">sign in now</h2>
		        <div class="login-wrap">
		            <input type="text" name="username" class="form-control" ng-model="user.username" placeholder="Usuario" autofocus>
		            <br>
		            <input type="password" name="password" class="form-control"  ng-model="user.password" placeholder="Clave">
		            <label class="checkbox">
		                <span class="pull-right">
		                    <a data-toggle="modal" href="index.html#myModal">¿Olvidaste tu contraseña ?</a>
		                </span>
		            </label>
		            <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> INICIAR SESIÓN</button>
					
		            <hr>

		        </div>
		
		          <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">¿Olvidaste tu contraseña?</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Ingresa tu correo para recuperar tu contraseña</p>
		                          <input type="text" name="email" placeholder="INGRESA TU CORREO " autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">CANCELAR</button>
		                          <button class="btn btn-theme" type="button">ENVIAR</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
		
		      </form>	  	
	  	
	  	</div>
	  </div>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

	  <script src='main.js'></script>

    <!--BACKSTRETCH-->
    <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
    <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("assets/img/login-bg.jpg", {speed: 500});
    </script>


  </body>
</html>
